<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
<body>
    <h1>Edit Comment</h1>
    <form action="/<%= comment.id %>?_method=PUT" method="POST">
    Title of Post <input type="text" name="commentTitle" value="<%=comment.commentTitle %>" ><br>
    What time of year did you visit?: <input type="text"  name="timeOfYear" value="<%=comment.timeOfYear %>" ><br>
    Describe your experience at the park: <input type="text"  name="description" value="<%=comment.description %>"  ><br>
    <input type="submit" name="" value="Edit Comment">
    </form>
</body>
</html>