<!DOCTYPE html>
<html lang="en">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/style.css">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<style>
    .border {
       border-style: solid;
       border-color: black;
       border-width: 5px;
    }
    
    .image {
        max-width: 250px;
        max-height: 250px;
    }
</style>
<body>
    <div class="searchBarAndTitle">
        <h2 class="title">National Park Search</h2>
        <div class="searchBar">
            <form action="/">
                <input class="search" type="text" id='searchInput' name='searchInput' placeholder='Search National Park' value="<%=searchInput%>">
                <input class="searchButton"  id="submitButton" type="submit" value="Submit">
            </form>
            <button class="searchButton" id="clearSearch"><a  href="/">Clear Search</a></button>
        </div>
    </div>
        <div> 
        <% for (let i=0; i<parks.length; i++) { %>
            <div class="border">
                <h3><%= parks[i].parkname %></h3>
                <h6><%= parks[i].url %></h6><br>
                <p><%= parks[i].description %> </p>
                <a href="/<%= parks[i].id %>"><img class="image" src="<%=parks[i].image %>"></a>
            </div>
        <% } %> 
    </div>
</body>
</html>