<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<style>
    .image {
        max-width: 250px;
        max-height: 250px;
    }
</style>
<body>
    <h1>National Park Search</h1>
    <button><a href="/show">Find all National Parks</a></button>
    <form action="/search">
    <input type="text" name='name' value='Search national park'>
    <input type="submit" value="submit">
    </form>
    <div>
        <% for (let i=0; i<parks.length; i++) { %>
            <div>
                <h3><%= parks[i].parkname %></h3>
                <h6><%= parks[i].url %></h6><br>
                <p><%= parks[i].description %> </p>
                <a href="/<%= parks[i].id %>"><img class="image" src="<%=parks[i].image %>"></a>
            </div>
        <% } %> 
    </div>
</body>
</html>