<!DOCTYPE html>
<html lang="en">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- ============= STYLES ============= -->
<link rel="stylesheet" href="/style.css">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>
<style>
    .border {
       border-style: solid;
       border-color: black;
       border-width: 5px;
    }
    
    .image {
        max-width: 275px;
        max-height: 275px;
    }
</style>
<body class="showBackground">
    <div class="searchBarAndTitle">
        <h2 class="title">National Park Search</h2>
        <div class="searchBar">
            <form action="/">
                <input class="search" type="text" id='searchInput' name='searchInput' placeholder='Search National Park' value="<%=searchInput%>">
                <input class="searchButton"  id="submitButton" type="submit" value="Submit">
            </form>
            <button class="searchButton" id="clearSearch" ><a id="clearSearch" href="/">Clear Search</a></button>
        </div>
    </div>
        <div> 
        <% for (let i=0; i<parks.length; i++) { %>
            <div class="border">
                <h3 class="parkContent" class="parkName" ><%= parks[i].parkname %></h3>
                <p class="parkContent" ><%= parks[i].description %> </p>
                <a class="parkContent" href="/<%= parks[i].id %>"><img class="image" class="parkImage" src="<%=parks[i].image %>"></a>
            </div>
        <% } %> 
    </div>
</body>
</html>