<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <style>
        .image {
            max-width: 250px;
            max-height: 250px;
        }
    </style>
<body>
    <h2>Individual show page</h2>
    <div>
        <h3><%= park.parkname %></h3>
        <h6><%= park.url %></h6><br>
        <p><%= park.description %> </p>
        <a href="/<%= park.id %>"><img class="image" src="<%=park.image %>"></a>
    </div>
    <h2>Leave a Comment</h2>
    <% for (i=0; i< comment.length; i++) { %>
    <h5><%=comment[i].commentTitle %></h5>
    <%= comment[i].timeOfYear %>
    <%= comment[i].description %>
    </form>
    <button><a href="/<%=comment[i].id%>/edit">Edit Comment</a></button>
    </form>
    <form action="/<%= comment[i].id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Comment">
    </form>
    <% } %>
    <div>
        <h3>Comment on this Park</h3>
        <form action="/<%= park.id %>" method="POST" >
            Title of Post <input type="text" name="commentTitle" placeholder="Comment Title"><br>
            What time of year did you visit?: <input type="text"  name="timeOfYear" placeholder="August 2020"><br>
            Describe your experience at the park: <input type="text"  name="description" ><br>
            <input type="submit" name="" value="Add Comment">
        </form>
    </div>
</body>
</html>